
name: Build, Run And Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        pip install -r requirements.txt
    - name: Deploy
      run: |
        guinicorn --bind 0.0.0.0:5000 main:app
    - uses: saucelabs/sauce-connect-action@v2
      with:
          username: ${{ secrets.SAUCE_USERNAME }}
          accessKey: ${{ secrets.SAUCE_ACCESS_KEY }}
          tunnelIdentifier: github-action-tunnel
          scVersion: 4.7.1
          config: sauce-apif-config.yml
    - name: Integration test
      run: |
        docker run quay.io/saucelabs/apifctl run-all -H https://josh.grant:${{ secrets.SAUCE_ACCESS_KEY }}@api.us-west-1.saucelabs.com/api-testing/rest/v4/${{ secrets.APIF_HOOK }}
